<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<a href="/celebrities/create">Click here to create a new celebrity</a>
<br>
<a href="/celebrities/">Click here to view the celebrities</a>
<br>
<a href="/movies/create">Click here to create a new movie</a>
<br>
<a href="/movies/">Click here view the movies</a>