<h2>Add a new movie</h2>

 <form action="/movies/create" method="POST">

    <p>
        <label>Title:</label>
        <input type="text" name="title" />
    </p>

    <p>
        <label>Genre:</label>
        <input type="text" name="genre" /> 
    </p>

  <p>
        <label>Plot:</label>
        <input type="text" name="plot" />
  </p>
  <label for="celebrity-names">Choose a celebrity:</label>
<select name="cast" id="cast" multiple>
{{!-- Use an hbs #each loop to display tags with each celebrity's name --}}
{{#each results}} {{!-- aqui una lista para cada nombre de artista --}}
 <option value="{{this._id}}">{{this.name}}</option> 
 {{!-- the information that should be transmitted (value) is the _id we will use for the cast attribute of the movie. --}}
{{/each}}


</select>

  <button type="submit">Add movie</button>
</form>